@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Inter&family=Josefin+Sans:wght@300;400;700&family=Poppins:wght@400;600;700&display=swap');

$aleo-font:'Aleo', serif;
$josefin-font:'Josefin Sans', sans-serif;

:root{
    font-size: 10px;
}
a{
    text-decoration: none;
}
 
body{
    border: solid 10px #ffffff;
}

.header-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(bg-pic-1.svg);
    background-color: 000000;
    
}

.header-main__src{
        width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-family: $josefin-font;
        font-size: 4.8rem;
        line-height: 2.6rem;
        color: #FFFFFF;
        font-weight: 700;
        margin-bottom: 10px;
    }
    h4{
        font-family: $josefin-font;
        font-size: 2.2rem;
        color: #FFFFFF;
        line-height: 2.6rem;
    }
    p{font-family: $josefin-font;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 2.6rem;

    }
    
    
    }
    .header-main__disclaimer{
        display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4.8rem;
    }

.header-main__src-bar{
    display: flex;
    height: 63px;
    max-width: 503px;
    width: 100%;
    border: 1px solid white;
    padding: 1px 0;
    background: white;
        margin-bottom: 108px;
    input{
            border: none;
    width: 100%;
    text-align: center;
    font-family: $josefin-font;
    font-size: 16px;

}
::placeholder{
    font-family: $josefin-font;
    font-size: 1.4rem;
    color: #999999;
   }

    

    button{

        color: white;
    font-family: aleo;
    font-size: 14px;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
    background: #5474FD;
    border-color: #5474fd;
    outline: none;
    padding: 0 23px
}
span {
    margin-left: 10px;
}
}



.centered-wrapper{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    background-size: auto;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/bg-pic-1.svg);
    background-size: cover;
}
.header-main__scroller{
        display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.nav-styler{
    padding: 30px 0;
    background-color: #5474FD;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    ul{
        display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    font-family: 'Aleo';
    color: white;
    font-size: 14px;
    line-height: 26px;
    }   
    h5{
        font-size: 2.4rem;
        color: #FFFFFF;
        font-family: $josefin-font;
        line-height: 26px;
        font-weight: 700;
    }
   
}
.article-main{
    &__bg-pic{
        //background-image: url(../images/mountain-side-gde618d5c5_1920.jpg);
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/mountain-side-gde618d5c5_1920.jpg);
         width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-size: auto;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    &__text{
            display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    padding-left: 10%;
    gap: 50px;
    padding-bottom: 40PX;
    padding-top: 50px;
        h1{
            font-family: $aleo-font;
            font-size: 3.6rem;
            color: #FFFFFF;
            line-height: 26px;

        }
        p{
            font-family: $josefin-font;
            font-size: 1.6rem;
            color: #FFFFFF;
            line-height: 26px;
            max-width: 56rem;

        }
        button{
             color: white;
    font-family: aleo;
    font-size: 14px;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
    background: #5474FD;
    border-color: #5474fd;
    outline: none;
    padding: 20px;
    max-width: 22rem;
        }

    }
    &__pic{
        display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 35rem;
    margin-left: 16rem;
    padding-bottom: 50px
    }
    &__pic--first{
        margin-left: -87px;
            margin-bottom: 10px;
    }

}
.site-breakdowner{
    
   display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: #333333;
    p{
        font-size: 36px;
        font-family: $aleo-font;
        color: #FFFFFF;
        line-height: 26px;
        text-decoration: none;
        padding-top: 19px;
    }
    &__text{
        display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    }
}
.section-section{
    background-image: url(../images/bg-pic-3.svg);
      width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    background-size: auto;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h6{
        font-family: $josefin-font;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 26px;
        padding-bottom: 23px;

    }
    h1{
         font-family: $josefin-font;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 26px;
        padding-bottom: 13px;
    }
    p{
        font-family: $josefin-font;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 26px;
        max-width: 508px;
        padding-bottom: 45px;
    }
    button{
        color: white;
    font-family: aleo;
    font-size: 14px;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
    background: #5474FD;
    border-color: #5474fd;
    outline: none;
    padding: 20px 60px;
    max-width: 22rem;
    }
    &__borderinv{
        border: solid 1px rgba(0, 0, 0, 0.3);;
        background-color: rgba(23, 23, 23, 0.8);;
        padding-left: 30px;
        padding-bottom: 50px;
        padding-top: 47px;
        transform: translatex(-272px);
    }
}
.section-section2{
     background-image: url(../images/gb-pic-4.png);
      width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    background-size: auto;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     h1{
         font-family: $josefin-font;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 26px;
        padding-bottom: 13px;
    }
    p{
        font-family: $josefin-font;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 26px;
        max-width: 508px;
        padding-bottom: 45px;
    }
    button{
        color: white;
    font-family: aleo;
    font-size: 14px;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
    background: #5474FD;
    border-color: #5474fd;
    outline: none;
    padding: 20px 60px;
    max-width: 22rem;
    }
    &__borderinv{
         border: solid 1px rgba(0, 0, 0, 0.3);;
        background-color: rgba(23, 23, 23, 0.8);;
        padding-left: 30px;
        padding-bottom: 50px;
        padding-top: 47px;
        transform: translatex(272px);
    }
}
.aside-main{
    padding-bottom: 20rem;
     background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bald-ga48d18d74_1920.jpg);
      width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    background-size: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    &__title{
      padding:12rem 0 9rem 0;
        h1{
            font-family: $aleo-font;
            font-size: 3.6rem;
            color: #FFFFFF;
            line-height: 26px;
        }
    }
    
    &__description{
          display: flex;
    align-items: center;
    flex-wrap: wrap;
     border: solid 1px rgba(0, 0, 0, 0.3);;
        background-color: rgba(33, 33, 33, 1);;    
    
    h2{
        padding-bottom: 1rem;
        padding-left: 6rem;
            font-family: $josefin-font;
            font-size: 20px;
            line-height: 26px;
            color: #FEFEFE;
        }
        p{
            padding-left: 6rem;
            font-family: $aleo-font;
            font-size: 16px;
            color: #E8E8E8;
            line-height: 25px;
            max-width: 580px;
        }
    }
}
.footer-main{
     background-color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    &__bg{
         padding: 8rem 0 6rem 0;
        display: flex;
    flex-direction: column;
    align-items: center;
        h1{padding-bottom: 10px;
            font-family: $josefin-font;
            font-size: 24px;
            font-weight: 700;
            color: #FFFFFF;
            line-height: 26px;
        }
        h2{
            font-family: $josefin-font;
            font-size: 16px;
            line-height: 26px;
            color: #ffffff;
        }
    }
    &__img{
       padding-top: 3rem;
        display: flex;
        flex-direction: row;
        gap: 20px;
        p{
            font-family: $aleo-font;
            font-size: 16px;
            color: #5474FD;
        }
    }
}



                                 // here starts responsive 

    
                                 
@media  (max-width:1024px){
    
    .site-breakdowner{
        flex-direction: column;
    gap: 40px;
    }
    
    .article-main__bg-pic{

        flex-direction: row;
    
    }

    .article-main__text{
        max-width: 50%;
    display: flex;
    flex-direction: inherit
    button{
        max-width: 50%;
    display: flex;
    flex-direction: inherit
    }
    }
    .section-section{
        &__borderinv{
            margin-right: -50rem;
        }
    }
    .section-section2{
        &__borderinv{
            margin-left: -50rem;
        }
    }
    .aside-main__description{
        flex-direction: column;
        img{
            padding-top: 20px;
            max-width: 50%;
        }
        
    }
    
    
   
}

@media (max-width:820px){
    .site-breakdowner{
        display: flex;
    flex-direction: column;
    gap: 40px;
    }
}
.nav-styler{
        display: flex;
    flex-direction: column;
}

@media  (max-width:650px){
    .article-main__bg-pic{
        display: flex;
    flex-direction: column;
    }
    .article-main__pic--first{
        max-width: 70%;
    }
    .article-main__pic--second{
         max-width: 70%;
    }
    .section-section__borderinv{
        display: flex;
    flex-direction: column;
    align-items: center;
        max-width: 74%;
   }

.section-section2__borderinv{
    display: flex;
    flex-direction: column;
    align-items: center;
        max-width: 74%;
}


}